@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4B4A4C;
}



.backgroundImage {
    flex: 1;
    height: 100vh;
    width: 100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/valence-am.appspot.com/o/CommingSoon%2Fbill-jelen-NVWyN8GamCk-unsplash.jpg?alt=media&token=6060314f-7c9d-4de1-9827-b53d264b5d4e");
    background-position: center;
    background-size: cover;
    position: relative;
}

.homeContainer {
    display: flex;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
}

.introContainer {
    flex: 1;
    max-width: 50vw;
    padding: 50px 80px;
    display: block;
    height: 100%;
    margin: auto;

}

.introContainer img {

    width: 300px;
    height: 40%;
    margin: 0px 0px 30px;
}

.homeContainer {
    font-family: 'Noto Sans', sans-serif;

}


.homeTextArea h1 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 500;

    margin: 0px 0px 15px;
}

.homeTextArea p {
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.3px;
}

.homeTextArea {
    margin-bottom: 10px;
}

.homeTextArea span p {
    font-style: italic;
    font-weight: 400;
}

.homeTextArea div p {
    text-align: justify;
}

.introContainer span h1 {
    padding: 10px 0px;
    font-size: 20px;
}


.homeTextArea p {
    padding: 10px 0px;
}

.homeTimer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.homeTimer h1 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.homeTimer p {
    text-transform: uppercase;
    font-size: 12px;
    padding: 0px 0px 0px 2px;
}

.downloads input {
    flex: 10;
    padding: 20px 20px;
    margin: 0px 0px 0px 0px;
    letter-spacing: 1px;
    border: 1px solid #4B4A4C;
}

.inputButtonSpace {
    flex: 1;
}

.downloads a {
    padding: 20px 20px;
    border: 1px solid #4B4A4C;
    background-color: #4B4A4C;
    color: white;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: bold;
    transition: 0.3s;
    flex: 10;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.downloads a:hover {
    background-color: #2D4798;
    color: white;
    border: 1px solid #2D4798;
}

.downloads {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;

}

.errorDivision p {
    color: rgb(180, 19, 19);
    font-size: 15px;
    padding-left: 10px;
}


.socialAccounts a {
    text-decoration: none;
    color: #0A66C2;
    padding-left: 5px;
}

.socialAccounts {
    font-style: italic;
    padding-top: 20px;
}
.socialAccounts i{
    font-size: 20px;
    transition: 0.3s;
}
.socialAccounts i:hover{
    color: #2D4798;
}



@media(max-width: 1080px) {

    .backgroundImage {
        display: none;
    }

    .homeContainer {
        flex-direction: column;
    }

    .introContainer {
        max-width: 100vw;
    }
    .introContainer img {
        margin: 10px 0px 10px;

    }
    .downloads a{
        padding: 20px 20px;
    }

}

@media(max-width:1500px){

    .introContainer img {
        margin: 0px 0px 20px;

    }
    .homeTextArea p {
        padding: 5px 0px;
    }
    .downloads input {
        padding: 10px 20px;
    }
    .downloads a{
        padding: 10px 20px;
    }
    .socialAccounts {
        padding-top: 10px;
    }
    .socialAccounts i{
        font-size: 15px;
    }
    .introContainer {
        padding: 20px 60px;
    }
    .homeTimer h1{
        font-size: 32px;
    }

}



@media(max-width: 700px) {

    
    .downloads {
        flex-direction: column;
    }

    .downloads input {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .downloads a {
        width: 100%;
        padding: 20px;
    }

    .inputButtonSpace {
        padding: 10px;
    }

    .homeTimer {
        padding-right: 0px;
    }

    .homeTimer h1 {
        font-size: 30px;
    }

    .homeTimer p {
        font-size: 10px;
    }

    .introContainer img {
        padding-top: 20px;
        width: 192px;
        height: 20%;
        margin: 20px 0px 20px;
    }

    .homeTextArea h1 {
        font-size: 30px;
    }

    .homeTextArea p {
        font-size: 10px;
    }

    .introContainer {
        padding: 5% 45px;
        align-items: center;

    }
    .homeContainer{
        overflow-y: auto;
    }
    

}